/*
le suffixe module .css permet d'isoler les styles d'un composant
utiliser en exclusivement des classes CSS 
 */

 .site-header {
    background-color:bisque;
    padding: 1rem;
 }

 .site-logo {
    width: 3rem;
 }

