.btn-nav-mobile{
    display:none;
  }
  .site-nav {
    display: block;
  }
  /* 
  1rem:16px
  50rm:800px
  */
  @media screen and (max-width:50rem) {
    .btn-nav-mobile{
       display:block;
     }
  }
  .site-nav {
    display: none;
  }
  .site-nav-visible {
    display:block;
  }


